*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ebebeb;
    font-family: 'Carter One', cursive;
}

.overlay {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70rem;
    margin: 0 3rem;
}

.accord .accord_item {
    margin-bottom: 1rem;
}

.accord .accord_item .accord_header {
    display: block;
    padding: 2rem 1rem;
    background: rgb(233, 30, 99);
    background: linear-gradient(135deg, rgba(233, 30, 99, 1) 26%, rgba(0, 112, 255, 1) 100%);
    background-size: 150% 150%;
    border-radius: .5rem;
    color: #000;
    position: relative;
    cursor: pointer;
    -webkit-animation: animate 3s ease infinite;
    -moz-animation: animate 3s ease infinite;
    -o-animation: animate 3s ease infinite;
    animation: animate 3s ease infinite;
}

.accord .accord_item input {
    display: none;
}

.accord .accord_item .accord_header h5 {
    font-family: 'Carter One', cursive;
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.3;
    letter-spacing: .1rem;
    transition: .5s;
    cursor: pointer;
    text-shadow: 0 .1rem black;
}

.accord .accord_item .accord_header::after {
    content: '\002B';
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: #fff;
}

.accord .accord_item .accord_body {
    padding: 2rem;
    background-color: #fff;
    display: none;
    box-shadow: 0 .5rem 1.5rem 0 rgba(0, 0, 0, 0.25);
    border-radius: 0 0 .5rem .5rem;
}

.accord .accord_item input:checked ~ .accord_header::after {
    content: '\2212';
}

.accord .accord_item input:checked ~ .accord_body {
    display: block;
}

.accord .accord_item input:checked ~ .accord_header {
    border-radius: .5rem .5rem 0 0;
}

.accord .accord_item .accord_body p {
    font-size: 1.6rem;
    color: #242424;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.container h1 {
    font-family: 'Parisienne', cursive;
    font-size: 8rem;
    color: #000;
    font-weight: 400;
    line-height: .8;
    text-align: center;
    padding: 0;
    margin: 0 0 5rem 0;
}

@-webkit-keyframes animate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes animate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes animate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

/*Translate*/
div#google_translate_element {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 2%;
}

div#google_translate_element .goog-te-gadget-simple {
    border: none;
    background-color: #ebebeb;
    border-radius: .5rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .2);
    border: 1px solid #ccc;
    padding: .8rem;
}

div#google_translate_element img.goog-te-gadget-icon {
    display: none;
}

div#google_translate_element .goog-te-menu-value {
    font-family: 'Carter One';
    text-decoration: none;
    color: #393939;
    white-space: nowrap;
    margin-left: 4px;
    margin-right: 4px;
}

.goog-te-banner-frame {
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 50%;
    }

    .container h1 {
        font-family: 'Parisienne', cursive;
        font-size: 7rem;
        color: #000;
        font-weight: 400;
        line-height: .8;
        text-align: center;
        padding: 0;
        margin: 0 0 3rem 0;
    }

}
